body{

}

.bg-dark{
	margin-top: 40px;
	margin-right: 40px;
	margin-left: 40px;
}

.form-group{
	margin-top: 50px;
}

.mb-3{
	margin-top: 50px;
}

/* alerts */

.alert-danger{
	margin: 20px 20px 20px 20px;
}